.bangumi_item {
    background-color : azure;
    position: relative;
    float: left;
    width: 100%;
    background-color:#f5f5f5;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.bangumi_episodes {
    padding-left: 25px;
}

a.episode_item {
    padding-left    : 5px;
    padding-right   : 5px;
    color           : deepskyblue;
    text-decoration : none;
}